.body {
    height: 100%;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}