.menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 60%;
    top: 0;
}

.menuCloseButtonContainer {
    position: fixed;
    right: 24px;
    top: 32px;
    width: 36px;
    height: 36px;
}

.menuCloseButton {
    object-fit: fill;
    cursor: pointer;
}

.menuOpenButtonContainer {
    position: fixed;
    right: 24px;
    top: 32px;
    width: 36px;
    height: 36px;
}

.menuOpenButton {
    object-fit: fill;
    cursor: pointer;
}