.menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 100vh;
        background-color: black;
        position: fixed;
        right: 0;
        top: 0;
    }
}

.menuCloseButtonContainer {
    position: fixed;
    right: 24px;
    top: 8px;
    width: 36px;
    height: 36px;
}

.menuCloseButton {
    object-fit: fill;
    cursor: pointer;
}

.menuOpenButtonContainer {
    position: fixed;
    right: 24px;
    top: 8px;
    width: 36px;
    height: 36px;
}

.menuOpenButton {
    object-fit: fill;
    cursor: pointer;
}